{% extends "base.html" %}
{% block content %}
<div class ="container">
	
	<h1 class ="page-header" align ="center"><u>About Me</u></h1>
	
	<p class ="lead"><mark>The Warriors have spent an entire season telling us they were fine while showing us, repeatedly, they were bored and uninspired.</p></mark>
	<p><mark> Keep on waiting for the Golden State Warriors to flex. Keep on waiting for them to show how dominant a team can be when it has the greatest shooter ever, arguably the second-greatest shooter ever, one of the greatest scorers to ever lace them up and one of the most versatile and villainous big men. Keep on waiting for the spectacular, for the special. Because the invincible team many thought would show up for this repeat bid might not ever come. And it might not have to.</p></mark>

	<button class ="btn btn-default"><a href="{% url 'project:home' %}">Back</a></button>
</div>

{% endblock content %}