{% extends "base.html" %}
{% block content %}
<body>
    <!-- Page Content -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="mt-5">Ahmed <br/> Al Hasani</h1>
            <p>Hello, I am a graduate student at the Univeristy of Colorado Boulder studying Computer Science Data Science and Engineering and Software Engineering</p>
          </div>
        </div>
      </div>
    </section>
</body>
{% endblock content %}